// import other scss file
@import 'modules/icons';
@import 'plugins/vue-tour';

// color variables
$primary: #fff508;
$success: #85dd2c;
$info: #3fcfff;
$warning: #ffb73e;
$error: #ff6b69;
$grey: #cfcfcf;
$netral: #636161;
$primary600: #dcd106;
$primary700: #b6ae03;